/* Fonts - start */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"); /* Roboto Condensed */
/* Fonts - end */

/* Global Styles - start */
* {
  margin: 0;
}
/* Global Styles - end */

/* Navigation Bar - start */
nav {
  display: flex;
  position: sticky;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto Condensed", "Arial Condensed", serif;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  background-color: rgb(247, 147, 197);
  overflow: hidden;
}
nav,
nav a {
  height: 2rem;
}
nav img {
  max-height: 100%;
}
nav ul {
  display: flex;
  max-width: 100%;
  list-style-type: none;
}
nav ul li {
  padding: 0.5rem;
  background-color: rgb(247, 191, 219);
}
nav ul li:hover {
  background-color: rgb(255, 157, 205);
}

/* Navigation Bar - end */

/* Header - start */
/* Header - end */

/* Main - start */
/* Main - end */
